services:
  - type: web
    name: kpi-himeku
    env: node
    buildCommand: npm install
    startCommand: npm run server
    envVars:
      - key: JWT_SECRET
        generateValue: true
      - key: PORT
        value: 5000
